<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">

    <div class="container">
        <a class="navbar-brand" href="#">{{title}}</a>

        <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link"  routerLink="music">Music</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="playlists">Playlist</a>
                </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>